html,
body {
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 30px;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100vw;
    height: 100dvh;
}

#title {
    z-index: 255;
    text-align: center;
    position: absolute;
    top: 0;
    color: white;
}

#controls {
    z-index: 255;
    text-align: center;
    position: absolute;
    bottom: 0;
    color: white;
}

#level {
    z-index: 255;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}

canvas {
    image-rendering: pixelated;
    aspect-ratio: initial;
    transition: scale 0.2s, rotate 0.2s;
}
